@import "../TimeLine/TimeLine"
@import "../../assets/styles/constants"

$PlayerBoxHeight: 92px

.PlayerBox
  height: $PlayerBoxHeight
  width: 100%
  display: flex
  background: rgba(255, 255, 255, 0.95)
  z-index: $z-player-box

  &-Image
    height: $PlayerBoxHeight
    width: 204px
    background-position: center
    background-size: auto 135%
    position: relative
    flex-shrink: 0

    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background: rgba(0, 0, 0, .35)

  &-ButtonsBox
    display: grid
    grid-gap: 32px
    grid-template-columns: min-content min-content min-content
    justify-content: center
    align-items: center
    padding: 20px 0 12px 0

  &-PlayButton, &-PauseButton, &-NextButton, &-PrevButton
    z-index: 1
    opacity: .9

  &-TimeLabel
    display: flex
    justify-content: center
    color: white

  &-InfoBox
    margin-left: 16px

  &-TagsBox
    margin-top: 20px

  &-TimeLine
    position: absolute
    left: 0
    top: - $time-line-height
