@import "../../assets/styles/constants"
@import "../../assets/styles/design-system-variables"
@import "../TracksListItem/TracksListItem"
@import "../TagsMenu/TagsMenu"

$root: '.TracksList'
$space-between-tracks-thumbs: $space-m
$max-content-width: $track-thumb-size * 4 + $space-between-tracks-thumbs * 3

#{$root}
  height: 100%
  overflow-y: auto
  overflow-x: hidden

  &-List
    display: grid
    grid-template-columns: repeat(2, $track-thumb-size)
    gap: $space-between-tracks-thumbs


@media only screen  and (min-width: #{$track-thumb-size * 3 + $space-between-tracks-thumbs * 2 + $toggle-button-width * 2})
  #{$root}-List
    grid-template-columns: repeat(3, $track-thumb-size)

@media only screen  and (min-width: #{$max-content-width + $toggle-button-width * 2})
  #{$root}-List
    grid-template-columns: repeat(4, $track-thumb-size)
