@import '../../assets/styles/design-system-variables'
@import '../../assets/styles/constants'
@import '../ItemsBlock/ItemsBlock'
@import '../PlayerBox/PlayerBox'
@import '../Notifier/Notifier'

$page-wrapper-ratio: 6

.Body
  height: 100%
  display: flex
  flex-direction: column
  box-sizing: border-box
  min-width: $min-body-width
  align-items: center

  &-PageWrapper
    width: 100vw
    min-width: $min-body-width
    height: 16.5vw
    min-height: $min-body-width / $page-wrapper-ratio
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &-Content
    height: 100%
    position: relative
    width: calc(100% - #{$content-side-margin * 2})
    max-width: $max-content-width
    box-sizing: border-box
    display: flex
    align-items: center
    flex-direction: column

    &_withNotifier
      padding-top: $notifier-height

    &_withPlayer
      padding-bottom: $player-with-timeline-height

  &-PlayerBox
    position: fixed
    bottom: 0
    left: 0

