@import '../../assets/styles/design-system-variables'
@import '../../assets/styles/constants'
@import '../TagsMenu/TagsMenu'
@import '../TracksList/TracksList'
@import '../PlayerBox/PlayerBox'
@import '../Notifier/Notifier'

.Body
  height: 100%
  display: flex
  flex-direction: column
  box-sizing: border-box
  min-width: $min-body-width
  align-items: center

  &-Content
    height: 100%
    position: relative
    width: calc(100% - #{$toggle-button-width * 2})
    max-width: $max-content-width
    box-sizing: border-box

    &_withNotifier
      padding-top: $notifier-height

    &_withPlayer
      padding-bottom: $PlayerBoxHeight

  &-PlayerBox
    position: absolute
    bottom: 0
    left: 0

