@import "../../assets/styles/constants"
@import "../../assets/styles/design-system-variables"

$track-thumb-height: 136px
$track-thumb-width: 246px

//$track-thumb-width: 117px
//$track-thumb-width: 210px

.TracksListItem
  width: $track-thumb-width
  overflow: hidden
  position: relative
  display: flex
  flex-direction: column

  &-Image
    width: 100%
    height: $track-thumb-height
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    z-index: 1

  &-ChannelTitle, &-Title
    margin-top: $space-xxxxxs

