@import "../../assets/styles/constants"

$time-line-height: 12px

.TimeLine
  width: 100%
  height: $time-line-height
  background-color: $gray-color-1
  cursor: pointer

  &-Current
    width: 0
    height: 100%
    background-color: $main-color
    pointer-events: none

  &_deactivated
    cursor: default
