$min-body-width: 600px

$red: #c00
$pure-white: #fff
$button-color: #D2D2D2
$gray-color-0: #E4E4E4
$gray-color-1: #E3E3E3
$gray-color-2: #515151
$gray-color-3: #686868
$button-color_active: #525252
$yellow-color: #DCAF3B

$color-black-transparent: rgba(0, 0, 0, 0.5)

$z-notifier: 10
$z-tags-menu: 20
$z-tags-menu-bg: 15
$z-player-box: 10
$z-page-item-buttons: 1

// Animations

$time-xs: .1s
$time-s: .2s
$time-m: .3s
$time-l: .5s

$ease-default: ease-in-out
$ease-hide: ease-in
$ease-show: ease-out



