@import "../../assets/styles/constants"
@import "../../assets/styles/design-system-variables"
@import "../PlayerBox/PlayerBox"

$root: '.TagsMenu'

$sideblock-extra-offset-for-hide-shadow: 20px
$sideblock-width: 30%
$hash-size: $size-icon-m
$toggle-button-width: $space-xxxs * 2 + $hash-size
$toggle-button-animation-time: .08s
$hash-x-translate: calc(#{$hash-size + $space-xxxs + $space-xxxs + $sideblock-extra-offset-for-hide-shadow})

#{$root}
  &-SideblockWrapper
    position: fixed
    top: 0
    left: - $sideblock-extra-offset-for-hide-shadow
    height: 100%
    background: $pure-white
    width: $sideblock-width
    min-width: 350px
    transition: transform $time-l $ease-show
    z-index : $z-tags-menu
    transform: translateX(-100%)
    will-change: transform

  &-Sideblock
    padding: $space-xxxs
    padding-right: $toggle-button-width + $space-xxxxxs
    box-sizing: border-box
    height: 100%
    box-shadow: 0 15px 25px -4px rgba(13, 35, 67, 0.32)

  &-ToggleButton
    position: fixed
    top: calc(50% - #{$player-with-timeline-height / 2})
    right: $space-xxxs
    display: block
    transform: translate($hash-x-translate, -50%) rotate(0)
    transform-origin: center
    opacity: .18
    transition: opacity $time-m, transform $toggle-button-animation-time .6s $ease-show

    &:hover
      opacity: .9
      transform: translate($hash-x-translate, -50%) rotate(40deg)

  &_isOpened
    #{$root}-SideblockWrapper
      transform: translateX($sideblock-extra-offset-for-hide-shadow)

    #{$root}-ToggleButton
      opacity: .9
      transform: translate(0, -50%) rotate(40deg)
      transition: transform $toggle-button-animation-time $ease-show

    #{$root}-Background
      background: rgba(0, 0, 0, .25)
      display: block

  &-Background
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    display: none
    background: rgba(0, 0, 0, 0)
    z-index: $z-tags-menu-bg

  &-ChannelButton
    margin: 0 $space-xxxxxs $space-xxxxxs 0
