@import "../TracksListItem/TracksListItem"

$root: '.ItemsBlock'
$space-between-tracks-thumbs: $space-xxxs
$max-content-width: $track-thumb-width * 4 + $space-between-tracks-thumbs * 3
$content-side-margin: $space-m

#{$root}
  height: 100%

.List
  display: grid
  grid-template-columns: repeat(2, $track-thumb-width)
  grid-column-gap: $space-xxxxs
  grid-row-gap: $space-m

  &_flex
    display: flex
    flex-wrap: wrap

  &_centered
    justify-content: center

  &_smallGap
    grid-column-gap: $space-xxxxxs
    grid-row-gap: $space-xxxxxs

.Title
  padding: $space-l 0 $space-l 0
  display: block
  // высота исходя из высоты строки + отступы
  min-height: $space-xs * 2 + ($size-typo-xl * 1.2)
  box-sizing: border-box

.BottomPlaceholder
  height: $space-m

.LoaderPlaceholder
  height: 100px

.UpperPlaceholder
  height: $space-m

@media only screen  and (min-width: #{$track-thumb-width * 3 + $space-between-tracks-thumbs * 2 + $content-side-margin * 2})
  .List
    grid-template-columns: repeat(3, $track-thumb-width)

@media only screen  and (min-width: #{$max-content-width + $content-side-margin * 2})
  .List
    grid-template-columns: repeat(4, $track-thumb-width)

@media only screen  and (max-width: #{$track-thumb-width * 2 + $space-between-tracks-thumbs * 1 + $content-side-margin * 2})
  .List
    grid-template-columns: repeat(1, $track-thumb-width)
