.Header
  height: 80px
  padding: 0 $space-m
  box-sizing: border-box
  width: 100%
  display: flex
  align-items: center
  position: relative

.Tabs
  flex-grow: 1
  display: flex
  justify-content: center

.OneTab
  text-decoration: none
  color: $black

  &:not(:first-child)
    margin-left: $space-xl

  &:hover
    color: $red

  &_active
    font-weight: 500

    &:hover
      color: inherit

.Icons
  display: flex
  position: absolute
  right: $space-m

.OneIcon
  &:not(:first-child)
    margin-left: $space-xxxs

.Search
  margin: 0 $space-m 0 $space-xxxs
