@import 'components/PlayerBox/PlayerBox.sass'

$buttom-gap: $player-with-timeline-height + $space-xxxxxs
$right-gap: $space-xxxxxs

.videoPlayer
  position: absolute
  bottom: $buttom-gap
  right: $right-gap
  width: 356px
  max-width: calc(100% - #{$right-gap * 2})
  height: 200px
  border-radius: $radius-xl
