@import '../../assets/styles/design-system-variables'

.Text
  font-family: Roboto, sans-serif

  &_size
    &_xs
      font-size: $size-typo-xs
    &_xl
      font-size: $size-typo-xl
    &_xxxl
      font-size: $size-typo-xxxl

