$root: '.Text'

#{$root}
  font-family: Roboto, sans-serif

  &_bold
    font-weight: 500

  &_normal
    font-weight: 400

  &_thin
    font-weight: 300

  &_hoverable:hover
    color: $red

  &_size
    &_s
      font-size: $size-typo-s
    &_xs
      font-size: $size-typo-xs
    &_xl
      font-size: $size-typo-xl
    &_xxxl
      font-size: $size-typo-xxxl

  &_color
    &_gray
      color: $gray

    &_darkGray
      color: $gray-color-2

    &_white
      color: $pure-white

      &:hover#{$root}_hoverable
        opacity: $opacity-lvl-m
        color: $pure-white

  &_line
    &_normal
      line-height: 1.2

  &_cropLine
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &_limitedLines
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
