@import '../../assets/styles/design-system-variables'
@import '../../assets/styles/constants'

.Text
  font-family: Roboto, sans-serif

  &_bold
    font-weight: 500

  &_size
    &_xs
      font-size: $size-typo-xs
    &_xl
      font-size: $size-typo-xl
    &_xxxl
      font-size: $size-typo-xxxl

  &_color
    &_darkGray
      color: $gray-color-2
    &_white
      color: $pure-white

  &_line
    &_normal
      line-height: 1.2

  &_cropLine
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &_limitedLines
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
